@media only screen and (max-width: 800px) {
    body {
        max-width: inherit;
    }
}

body {
    width: 100%;
    margin-top: 10px;
    max-width: 500px;
    margin-left: 20px;
    font-family: 'Palatino', 'Garamond', 'Verdana';
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
    background: #FFFFFF;
}

p {
    margin: 0 auto;
    color: #333131;

}

p + p {
    margin-top: 15px;
}

a {
    color: #888888;
    text-decoration: none;
}

h2,
pre {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

h3 {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    font-weight: normal;
}

p + h3 {
    margin-top: 15px;
}

ul {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-shift {
    margin-left: 40px;
}

/* just because people think it is a good idea to delay the title attribute all this unnecessary CSS was written for a mere tooltip */
a[tooltip] {
    position: relative;
}

a[tooltip]:hover:after {
  content: attr(tooltip);
  display: inline-block;
  width: max-content;
  max-width: 180px;
  background-color: #c1c1c1;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
}